* {
  box-sizing: border-box;
}
p {
  border: 2px solid brown;

  padding: 0;
  width: 300px;
}
#a {
  margin-bottom: 0px;
}
#b {
  margin-top: 10px;
  margin-bottom: 0;
}
#c {
  margin-top: 0;
  padding: 10px;
}
