<header>
  <div class="flex row space-between">
    <h1>My Blog</h1>
    <nav class="flex row space-between">
      <a href="/">Home</a>
      <a href="/posts/new">New Post</a>
    </nav>
  </div>
</header>
