<footer>
  <p>
    about us : Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
    iure nam ipsum pariatur a laudantium ad, temporibus delectus aliquam
    similique nulla saepe veritatis deserunt mollitia vitae voluptatibus quasi,
    in distinctio.
  </p>
  <p>contact us</p>
</footer>
